body{
    background-color: blue;
    color: aliceblue;
}
@media  screen and (max-width: 600px){
div{
    height: 100vh;
    display: grid;
    align-items: center;
    margin-left: 4em;
}
}
@media  screen and (max-width: 375px){
div{
    height: 100vh;
    display: grid;
    align-items: center;
    margin-left: 2em;
}
}
@media  screen and (max-width: 330px){
div{
    height: 100vh;
    display: grid;
    align-items: center;
    margin-left: 4em;
}
}